.title{
    text-align: center;
    color: #240903;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(175,224,248,1);
    margin: 0;
    padding: 3rem 0;
}